.text1{
    text-align: center;

}

.text2{
    text-align: center;
}

.not{
    text-align: center;
}

.salu{
    width: 70%;
    margin-right: 70%;
}

.im1{
    width: 30%;
    height: 50%;
    margin-left: 20%;
    
}
.im2{
    width: 30%;
    height: 50%;
    margin-left: 60%;
}

.im3{
    width: 30%;
    margin-left: 40%;
    margin-left: 20%;
}

.im4{
    width: 30%;
    margin-left: 40%;
    margin-left: 60%;
}

.im5{
    width: 30%;
    margin-left: 40%;
    margin-left: 20%;
}

#larg1{
    width: 60%;
    margin-left: 29%;
 
}

#larg2{
    width: 60%;
    margin-left: 29%;
}

#larg3{
    
    width: 60%;
    margin-left: 29%;
   

}

#larg4{
    width: 60%;
    margin-left: 30%;
}

.bot{   
    width: 40%;
    text-align: center;
    margin-left: 40%;
}

#ent1{
    width: 64%;
    margin-left: 16%;
}

#ent2{
    width: 58%;
    margin-left: 16%;
}

.boti{
    margin-left: 60%;
    height: 80%;
    
}

.tun1{
    width: 22%;
}

.tun2{
    width: 22%;
}

.tun3{
    width: 22%;
}

.tun4{
    width: 22%;
}

.tun5{
    width: 22%;
}

.tun6{
    width: 22%;
}




 